* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* Dark Orange */
a {
  color: #EF7B45;
}
/* Pumpkin Color */
a:hover {
  color: #D84727;
}

/* Login & Signup Form Button - Dark Orange */
.ui.button.color1 {
  background-color: #D84727;
  color: #fff;
  font-weight: normal;
}

/* Camera Button Color - Pumpkin Color */
.ui.button.color2 {
  background-color: #EF7B45;
  color: #fff;
  font-weight: normal;
}

/* Removes spacing from underneath the navigation menu */
.ui.menu {
  margin: 0;
}

/* Styles the component behind the signup form */
.accountCont {
  background-color: #5EB1BF;
  height: 105vh;
}

.signup-form, .login-form {
  position: relative;
  top: 200px;
}

#capturePhoto {
   background-color: #5EB1BF ;
   height: 120vh;
}

#cameraImage {
  position: relative;
  top: 75px;
}

#newCardCont {
  background-color: #FAF3DD!important;
  height: 130vh;
}

#photo {
  padding-top: 50px;
}

input {
  color: #000;
}

.formCont {
  margin-bottom: 10px;
}

/* Styles Form */
.formCont .ui.input>input {
  width: 500px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

::placeholder {
  color: #000;
}

.cardsCont {
  background-color: #EF7B45;
  z-index: -100;
  padding-bottom: 50px;
}


#collections {
  padding-top: 50px;
}

.bizcard {
  margin: 0 auto;
  margin-top: 10px;
}

#cardText {
  position: relative;
  top: 25px;
  padding-left: 7px;
  padding-right: 7px;
}
