* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.welcomeLogo {
  display: block;
  margin: 0 auto;
}

/* Login Link Color - Ice Blue */
a {
  color: #23b5d3;
}
/* Login Hover Color - Seaweed */
a:hover {
  color: #187d91;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Roboto', sans-serif;
}

.ui.form {
  font-family: 'Roboto', sans-serif;
}

.ui.fluid.button {
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Login & Signup Form, Camera Button - Seaweed */
.ui.button.teal {
  background-color: #187d91;
  color: #fff;
  font-weight: normal;
}

.ui.button.teal:hover {
  background-color: #187d91;
}

/* Save Form Button - Pink */
.ui.button.violet {
  background-color: #D3235D;
  color: #fff;
  font-weight: normal;
}

.ui.button.violet:hover {
  background-color: #D3235D;
}

/* Removes spacing from underneath the navigation menu */
.ui.menu {
  margin: 0;
}

/* Styles the component behind the signup form */
.accountCont {
  /* background-image: linear-gradient(rgba(35, 181, 211, 1), rgba(24, 125, 145, 1)); */
  background: black url("./phone3.jpg") no-repeat fixed center;
  background-size: cover;
  height: 130vh;
}

.accountCont::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 129vh;
  background-image: linear-gradient(120deg, #333, #333);
  opacity: .45;
  z-index: 1;
}

h3.ui.header {
  color: #fff;
  text-shadow: 1px 1px #000;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
}

.signup-form, .login-form {
  position: relative;
  top: 150px;
  z-index: 100;
}

#capturePhotoBackground {
   background-color: #23B5D3;
   height: 150vh;
   text-align: center;
}

#camera {
  position: relative;
  top: 75px;
}

.rcam {
  margin-top: 20px;
}

#camera-button {
  margin-top: 20px;
}

#newCardCont {
  background-color: #FFFFFA!important;
  height: 175vh;
}

#photoCont {
  padding-top: 50px;
}

#photo {
  max-width: 100%;
}

input {
  color: #000;
}

.formCont {
  margin-bottom: 10px;
}

/* Styles Form */
.formCont .ui.input>input {
  width: 500px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

::placeholder {
  color: #000;
}

.cardsCont {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(24, 125, 145, 1));
  padding-bottom: 25px;
}


#collections {
  padding-top: 10px;
}

.bizcard {
  margin-top: 7px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;
  box-shadow: 2px 4px 0px 0 rgba(34,36,38,.15);
  webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  background-color: #FFFFFA;
  max-width: 100%;
  min-height: 250px;
}

#cardText {
  position: relative;
  top: 25px;
  padding-left: 4px;
  padding-right: 4px;
  word-wrap: break-word;
}

#cardText > h4 {
  color: #D3235D;
}

#mycards {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(34,36,38,.15);
}

.lastCard {
  padding-top: 75px;
  margin-bottom: 75px;
}

/* Mobile App Design */

@media only screen and (max-width: 480px) {

  .signup-form, .login-form  {
    position: relative;
    top: 50px;
    width: 90%;
    margin: 0 auto;
  }

  h2.ui.header {
    font-size: 1.9em;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .rcam {
    width: 85%;
    height: 85%;
  }

  #photo {
    width: 90%;
  }

  .formCont {
    width: 100%;
  }

  .formCont .ui.input {
    width: 90%;
  }

  #collections {
    padding-top: 5px;
  }

}
